Options +FollowSymlinks
RewriteEngine on
RewriteBase /

#RewriteRule ^test_helper(\/)?$ /index.php?c=example&m=testHelper [NC]

#RewriteRule ^(\w)+(\/)?$ index.php [NC]

RewriteRule ^(\w+)/?((\w+)?)$ index.php?c=$1&m=$2 [L,NC]

